body {
  background-color: peachpuff;
  font-family: 'Work Sans', sans-serif;
}

/* General styling */
h1 {
  font-weight: 400;
  text-align: center;
  font-size: 38px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

/* The main section are the flex parent that wraps its children onto as many rows as needed. */ 
.flex-parent {
	background: rgb(37, 36, 36);
	margin: 10px;
	padding: 10px;
	display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
}

/* The divs are the flex children, they will take up 100% and be displayed in one column on mobile/small screen */
.item {
	text-align: center;
	width: 100%;
	height: 400px;
  flex-grow: 1;
  margin: 2px;
  border-radius: 8px;
}

/* First box with icecream */
.blue {
	background: #908aee;
}

.item .rectangular-standing-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 18px;
}

/* second box with icrecream */
.red {
	background: #eb654d;
}

.second-icecream {
  object-position: bottom;
}

/* Third box with icecream */
.yellow {
	background: #fff5a2;
}

/* Fourth box with icecream */
.green {
	background: #76d88d;
}

/* Fifth box with icecream */
.pink {
	background: #ffb6c1;
}
 /* Sixth box with icecream */
.orange {
	background: #ffa966;
}

/*--- Media queries -----*/

@media (min-width: 768px) {
	/* Tablet size. The div items will be displayed in two columns, and take up 50% of the space. */
	.item {
		width: 50%;
	}
} 

@media (min-width: 1024px) {
	/* Desktop size. The colored items will be displayed in three columns, and take up 33% of the space. */
	.item {
		width: 33%;
	}
} 
